
.Categoryitem{
    padding: 2rem;
    width: 46%;
    margin: 1rem;
    text-align: center;
}

.categorytext{
    color: red;
    font-size: 30px;
}

.Categoryitem:hover{
    box-shadow:  0px 0px 10px red;
}

.btncategory{
    padding: .2rem;
    border-radius: .5rem;
    background-color: red;
    color: white;
    position: relative;
    top: 10px;
}